@import "./variables.scss";

.footer {
    height: 200px;
    padding: 50px;
    text-align: center;
    background-color: $dark;
    color: $white;
    &__organizers {
        li {
            list-style: none;
            float: right;
            max-width: 80px;
            &:nth-child(2) {
                max-width: 120px;
            }
        }
        
    }
}